@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Vítejte</h1>
    <p class="text-center">Vítejte v naší pojišťovací aplikaci, kde si můžete v kartě pojištění vytvořit nové pojištění.
        <br>V kartě pojištěnec si můžete vytvořit nového pojištěnce a následně v kartě Detail u pojištěnce si
        můžete připojit pojištění ke svému pojištěnci. 
    </a>.</p>
</div>
